<div tabindex="0" aria-label="card 1" class="focus:outline-none mr-2 lg:w-4/12 lg:mr-7 lg:mb-0 mb-7 bg-slate-700  p-6 shadow rounded">
  <a target='_blank' href="<%= @url %>"> 
    <div class="flex flex-col md:flex-row md:gap-5 items-center border-b border-gray-200 dark:border-gray-700  pb-6">
        <div role="img" aria-label="bookmark">
          <%= inline_svg_tag('icons/github-white.svg') %>
        </div>
      <div class="flex flex-col justify-center items-center md:justify-start md:items-start w-full">
        <p tabindex="0" class="focus:outline-none text-md md:text-xl font-medium leading-5 text-slate-400 whitespace-nowrap"><%= @name %></p>
        <p tabindex="0" class="focus:outline-none text-sm leading-normal pt-2 text-slate-300 "><%= @type %></p>
      </div>
    </div>
    <div class="px-2">
      <p tabindex="0" class="focus:outline-none text-sm leading-5 py-4 text-slate-300"><%= @des %></p>
      <div tabindex="0" class="focus:outline-none grid grid-cols-2 gap-x-10 md:gap-x-5 md:grid-cols-4 xl:grid-cols-8 gap-3">
          <% @tags.each do |tag| %>
            <p class="py-2 px-4 text-xs leading-3 text-slate-700 rounded-full bg-slate-100 whitespace-nowrap min-w-fit"><%= "##{tag}" %></p>
          <% end %>
      </div>
    </div>
  </a>
</div>
